<div class="headerComponent">
    <div class="header-message p-1">
        Download the Nutristar App now for best offers.
    </div>

    <div class="container-fluid d-flex row py-2 px-3">
        <div class="logoContainer col-3 d-flex align-items-start">
            <div class="logo">
                <img class="header-logo" src="assets/images/svgicons/header-logo.svg" alt="logo" />
            </div>
            <div class="location d-flex align-items-center">
                <div>
                    <img  src="assets/images/svgicons/pin.svg" alt="pin" />
                </div>
                <button class="btn pindrop d-inline-block">
                    Enter Pincode <i class="fa fa-angle-down"></i>
                </button>
            </div>
        </div>

        <div class="col-9">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="navContainer container-fluid justify-content-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav justify-content-end w-100">
                    <li class="searchbar d-flex align-items-center position-relative text-left">
                        <input class="d-flex align-items-center" type="text" class="form-control" placeholder="What can we help you find?">
                        <i class="fa fa-search position-absolute"></i>
                    </li>    
                    <li class="user-action nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa fa-percent"></i>Offer
                        </a>
                    </li>
                    <li class="user-action nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-life-ring"></i>Help
                        </a>
                    </li>
                    <li class="user-action nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-shopping-bag"></i>
                        </a>
                    </li>
                    <li class="user-action nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                        <i class="fa fa-user"></i>Login/Register
                        </a>
                    </li>
                    </ul>
                </div>
                </div>
            </nav>
        </div>
        <div class="search-element col-12 position-relative text-left">
            <input class="d-flex align-items-center" type="text" class="form-control" placeholder="What can we help you find?">
            <i class="fa fa-search position-absolute"></i>
        </div> 
    </div>

    <div class="linkContainer d-flex align-items-center justify-content-center w-100">
        <ul class="link-list d-flex align-items-center justify-content-center mb-0 pl-0">
            <li>HEALTH & WELLNESS</li>
            <li>PROTEINS</li>
            <li>BULK POWDERS & GAINERS</li>
            <li>WORKOUT ESSENTIALS</li>
            <li>WEIGHT LOSS</li>
            <li>SNACK & ACCESSORIES</li>
        </ul>
    </div>
</div>