<div class="footerComponent" *ngIf="!isLoading">
    <div class="footerContainer">
        <div class="banner container-fluid p-0">
           <div class="bannerContainer d-flex justify-content-center align-items-center py-4">
                <span>DOWNLOAD APP FROM</span>
                <div class="imgStore">
                    <img class="img-fluid" src="assets/images/svgicons/appstore.svg" />
                </div>
                <div class="imgStore">
                    <img class="img-fluid" src="assets/images/svgicons/playstore.svg" />
                </div>
           </div> 
        </div>

        <div class="mainBody container pt-5 pb-3">
            <div class="bodyContainer row d-flex justify-content-center">
                <div class="info col-12 col-md-6 col-lg-3 d-flex justify-content-end flex-column">
                    <div class="logo">
                        <img class="img-fluid" src="assets/images/svgicons/footer-logo.svg"/>
                    </div>
                    <div class="details mt-4">
                        Buy 100% Genuine and Authentic Supplements Online at Best Prices. Nutristar is a preferred Platinum Distributor and Online Wholesaler, resolves this severe problem by bringing all top-notch supplement brands in India under one roof.
                    </div>
                </div>
                <div class="info col-12 col-md-6 col-lg-3">
                    <span class="mt-2 mb-0">ABOUT NUTRISTAR</span>
                    <ul class="mt-3">
                        <li>About us</li>
                        <li>Brands</li>
                        <li>Authenticity Guaranteed</li>
                        <li>Certificates</li>
                        <li>Blogs</li>
                    </ul>
                </div>
                <div class="info col-12 col-md-6 col-lg-3">
                    <span class="mt-2 mb-0">FOR CUSTOMERS</span>
                    <ul class="mt-3">
                        <li>My Account</li>
                        <li>Contact us</li>
                        <li>Store Locater</li>
                        <li>Privacy Policy</li>
                        <li>Terms & Conditions</li>
                        <li>FAQ's</li>
                    </ul>
                </div>
                <div class="info col-12 col-md-6 col-lg-3">
                    <span class="mt-2 mb-0">CONNECT US</span>
                    <ul class="icons d-flex my-3">
                        <li>
                            <img src="assets/images/svgicons/youtube.svg" class="img-fluid" alt="youtube">
                        </li>
                        <li>
                            <img src="assets/images/svgicons/twitter.svg" class="img-fluid" alt="twitter">
                        </li>
                        <li>
                            <img src="assets/images/svgicons/instagram.svg" class="img-fluid" alt="instagram">
                        </li>
                        <li>
                            <img src="assets/images/svgicons/facebook.svg" class="img-fluid" alt="facebook">
                        </li>
                        <li>
                            <img src="assets/images/svgicons/whatsapp.svg" class="img-fluid" alt="whatsapp">
                        </li>
                    </ul>
                    <ul class="icons d-flex mt-4">
                        <li>
                            <img src="assets/images/svgicons/visa.svg" class="img-fluid" alt="visa">
                        </li>
                        <li>
                            <img src="assets/images/svgicons/mastercard.svg" class="img-fluid" alt="mastercard">
                        </li>
                        <li>
                            <img src="assets/images/svgicons/upi.svg" class="img-fluid" alt="upi">
                        </li>
                        <li>
                            <img src="assets/images/svgicons/paytm.svg" class="img-fluid" alt="paytm">
                        </li>
                        <li>
                            <img src="assets/images/svgicons/secure-payment.svg" class="img-fluid" alt="secure-payment">
                        </li>
                    </ul>
                </div>
                <div class="warning col-12 d-flex">
                    <span > WARNING!</span>
                    <p>PLEASE ONLY PURCHASE AND USE THE PRODUCTS ON THIS WEBSITE IF YOU ARE AGED 18 YEARS AND OVER. PLEASE ENSURE YOU ARE IN A GOOD STATE OF HEALTH AND/OR CONSULT YOUR DOCTOR BEFORE STARTING A SUPPLEMENT PROGRAMME.</p>
                </div>
            </div>
        </div>
        <div class="copyright container-fluid copyRight d-flex justify-content-center align-items-center py-3">
            <p>© 2021 A product of Square Bubbles Pvt. Ltd.</p>
        </div>
    </div>
</div>
<div class="footerComponent" *ngIf="isLoading">
    <content-loader
    viewBox="0 0 400 140"
    backgroundColor="#f3f3f3"
    foregroundColor="#ecebeb">
    <svg:rect x="117" y="10" rx="3" ry="3" width="45" height="12" /> 
    <svg:rect x="182" y="10" rx="3" ry="3" width="45" height="12" /> 
    <svg:rect x="243" y="10" rx="3" ry="3" width="45" height="12" /> 
    <svg:rect x="31" y="40" rx="0" ry="0" width="75" height="55" /> 
    <svg:rect x="120" y="40" rx="0" ry="0" width="75" height="55" /> 
    <svg:rect x="214" y="40" rx="0" ry="0" width="75" height="55" /> 
    <svg:rect x="305" y="40" rx="0" ry="0" width="75" height="55" />
    <svg:rect x="25" y="105" rx="3" ry="3" width="360" height="8" /> 
    <svg:rect x="150" y="120" rx="3" ry="3" width="100" height="4" /> 
    </content-loader>    
</div>