<div class="inventoryComponent container-fluid">
    <div class="inventoryContainer container-fluid">
        <div class="row tabDesktop">
            <div class="col-3 d-flex justify-content-end p-0">
                <div class="col-lg-9 col-xl-9 col-12 d-flex flex-column p-0 bg-white">
                    <ul class="inventory-list ">
                        <li *ngFor="let type of productType" [ngClass]="{'active' : type.active }" (click)="onProductCall(type.typeId)">
                            <a href="#{{type.typeId}}">
                                <img src="{{type.imgurl}}" />
                                <div class="media">
                                    <div class="title">{{type.typeName}}</div>
                                    <div class="qty">{{type.qty}} Product(s)</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-9 px-3 d-flex justify-content-start">
                <div class="container-fluid p-0" >
                    <section id="{{type.typeId}}" class="tabContainer row p-2" *ngFor="let type of productType">
                        <div *ngIf="type.qty > 0">
                            <div class="section-title col-12 my-3">
                                {{type.typeName}}
                            </div>             
                            <div class="productContainer container-fluid">   
                                <div class="row">  
                                    <div *ngFor="let data of type.products" class="product p-3 d-flex justify-content-center align-items-center flex-column bg-white" >
                                        <div class="product-img">
                                            <img src="{{data.imgurl}}" />
                                        </div>
                                        <div class="product-info">
                                            <div class="product-name">{{data.title}}</div>
                                            <div class="rating text-center my-1"><i class="fa fa-star"></i>{{data.rating}}</div>
                                            <div class="price text-center my-1">
                                                <span>₹{{data.actualprice}}</span>
                                                ₹{{data.saleprice}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="row tabMobile">

        </div>
    </div>
</div>