<div class="bannerComponent">
    <div class="bannerContainer container-fluid text-center">
        <div class="bannerMain">
            <div class="banner col-12">
                <img class="img-fluid" src="assets/images/banner/myprotein-offer-banner.jpeg" />
            </div>
        </div>
        <div class="know-more d-flex flex-row justify-content-center align-items-center">
            <div class="question">
                How to be sure that you are going to get the geninue product?
            </div>
            <button class="btn">Know More</button>
        </div>
    </div>
</div>
