.topComponent{
    .topContainer{

        .title{
            font-size: 30px;
        }
        .category{
            img{
                width: 100px;
            }
            span{
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}