<div class="topComponent" *ngIf="!isLoading">  
    <div class="topContainer container-fluid py-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center px-5">
                <b class="title">
                    TOP CATEGORIES
                </b>
                <p class="viewall">
                    VIEW ALL
                </p>
            </div>
        </div>
        <div  class="categoryContainer row mt-4 px-lg-5 px-xl-5 px-2 d-flex align-items-center slider slider-nav">
            <div class="col-1 px-0 d-flex justify-content-end">
                <a class="arrow-container leftslider col-12" (click)="toLeft()">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </div>
            
            <div id="slider" class="list col-10 d-flex px-0">
                <div class="category col-lg-3 col-xl-2 col-md-3 col-sm-4 col-xs-4 col-6  d-flex justify-content-center flex-column align-items-center" *ngFor="let data of topCategories">
                    <img src="{{data.imgurl}}"/>
                    <span class="mt-2 d-flex flex-column">{{data.name}}</span>
                </div>
            </div>
            
            <div class="col-1 px-0">
                <a class="arrow-container rightslider col-12" (click)="toNext()">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="topComponent" *ngIf="isLoading">
    <content-loader
    viewBox="0 0 400 80"
    backgroundColor="#f3f3f3"
    foregroundColor="#ecebeb">
    <svg:rect x="11" y="20" rx="3" ry="3" width="80" height="10" /> 
    <svg:rect x="330" y="20" rx="3" ry="3" width="44" height="8" /> 
    <svg:rect x="67" y="41" rx="3" ry="3" width="265" height="21" /> 
    <svg:rect x="26" y="43" rx="3" ry="3" width="22" height="16" /> 
    <svg:rect x="345" y="43" rx="3" ry="3" width="22" height="16" />
    </content-loader>
</div>